.login-page {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 300px;
    background-color: #202024;

    > * + * {
        margin-top: 8px;
    }

    input,
    button {
        padding: 8px 10px;
        border-radius: 2px;
    }

    button {
        background-color: #4080ff;
        color: #ffffff;
        cursor: pointer;
    }
}