.contact-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.contact-section + .contact-section {
    margin-top: 40px;
}

.contact-section-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-right: 10px;
}

.contact-section-title {
    flex: 1;
    color: #585858;
    font-size: 13px;
    font-weight: 600;
}

.contact-section-button {
    color: #585858;
    font-size: 20px;
    font-weight: 600;
}

.contact-section-entries {
    display: flex;
    flex-direction: column;
}

button.contact {
    display: flex;
    align-items: center;
    height: 32px;
    margin-bottom: 12px;
    padding-right: 12px;
    background-color: transparent;
    border-radius: 10px;
    color: #cccccc;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    transition: all 0.1s;

    &.active {
        background-color: #1b1b20;
        color: #ffffff;
    }

    &:hover {
        color: #ffffff;
    }
}

.contact-icon {
    height: 32px;
    width: 32px;
    border-radius: 10px;
    background-color: #1b1b20;
    color: #c0c0c0;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.contact-name {
    flex: 1;
    margin-left: 12px;
    line-height: 32px;
}

.contact-status {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: #585858;

    &.online {
        background-color: #10c000;
    }

    &.brb {
        background-color: #c0c030;
    }

    &.dnd {
        background-color: #c03010;
    }
}

.contact-unread-counter {
    height: 14px;
    min-width: 20px;
    padding: 0 6px;
    border-radius: 7px;
    background-color: #585858;
    color: #000000;
    font-size: 11px;
    font-weight: 900;
    line-height: 14px;
    text-align: center;

    &.online {
        background-color: #10c000;
    }

    &.brb {
        background-color: #c0c030;
    }

    &.dnd {
        background-color: #c03010;
    }
}