.invitation-container,
.join-request-container {
    display: flex;
    flex-direction: column;
}

.invitation-buttons,
.join-request-buttons {
    display: flex;
    margin-top: 20px;

    button {
        padding: 4px 8px;
        margin: 0 -8px;
        background-color: transparent;
        border-radius: 4px;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: rgba(#ffffff, 0.05);
        }

        &.green {
            color: #10c000;
            font-weight: 600;
        }
    }

    button + button {
        margin-left: 10px;
    }
}