.main-container {
    height: 100vh;
    display: flex;
}


.drop-zone-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 200px 100px;
    z-index: 9999;
    //z-index: -1;  

    &.dragging {
        background-color: rgba(#000000, 0.8);
    }
}

.drop-zone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px dashed rgba(#ffffff, 0.2);
    border-radius: 10px;
    pointer-events: none;
}

.drop-zone-hint {
    color: #c0c0c8;
    font-size: 18px;
}


section.left {
    flex-shrink: 0;
    padding: 30px;
    padding-right: 24px;
    width: 380px;
    background-color: #060608;
    color: #e0e0e0;
}



section.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    //border: 3px solid white;
}

.message-list {
    position: relative;
    flex: 1;
    align-items: flex-start;
    //border: 3px solid #4080ff;
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
    overflow-y: auto;
}

.message-author {
    display: flex;
    margin-top: 16px;
    margin-bottom: 4px;

    &:last-child {
        margin-top: 0;
    }
}

.message-author-avatar {
    height: 32px;
    width: 32px;
    border-radius: 10px;
    background-color: #3b3b40;
    color: #c0c0c0;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.message-author-username {
    margin-left: 10px;
    color: #808084;
    font-size: 13px;
    line-height: 32px;
}

.message-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
}

@keyframes show-message {
    from { transform: translateY(8px); opacity: 0.8; }
    to { transform: translateY(0); opacity: 1.0; }
}

.message {
    max-width: 50vw;
    margin-left: 12px;
    margin-bottom: 6px;
    padding: 8px 14px;
    background-color: #2b2b30;
    border-radius: 0 4px 4px 4px;
    color: #d0d0d0;
    font-size: 13px;
    font-weight: 500;
}

.message.animated {
    animation: show-message 0.2s;
}

.message.owned {
    background-color: #d8d8d8;
    color: #404044;
}

.message > a {
    color: #4080ff;
    font-weight: 600;
}

@keyframes show-message-date {
    from { transform: translateX(-8px) translateY(-6px); opacity: 0.8; }
    to { transform: translateX(0) translateY(-6px); opacity: 1.0; }
}

.message-date {
    margin-left: 12px;
    padding-top: 6px;
    color: #707074;
    font-size: 13px;
    font-weight: 500;
    animation: show-message-date 0.1s;
    transform: translateY(-6px);
}

.message-attachment {
    margin-left: 12px;
    margin-bottom: 6px;
    border-radius: 0 4px 4px 4px;
}

.message-attachment-image {
    max-width: 50%;
    border: 1px solid #3b3b40;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
        border-color: #484850; //424247
        filter: brightness(0.9);
    }
}


.message-box {
    display: flex;
    padding: 14px;
    //border: 3px solid red;
}

input.message-input {
    display: flex;
    width: 100%;
    padding: 14px 18px;
    background-color: rgba(64, 64, 64, 0.33);
    border-radius: 10px;
    color: #d0d0d0;
}