.main-container {
    height: 100vh;
    display: flex;
}


section.left {
    padding: 30px;
    width: 380px;
    background-color: #060608;

    color: #e0e0e0;
}



section.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    //border: 3px solid white;
}

.message-list {
    flex: 1;
    align-items: flex-start;
    //border: 3px solid #4080ff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow-y: auto;
}

.message-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    + .message-group {
        margin-top: 16px;
    }
}

.message-group-author {
    display: flex;
    margin-bottom: 4px;
}

.message-group-author-avatar {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    background-color: #505050;
}

.message-group-author-username {
    margin-left: 12px;
    color: #808084;
    font-size: 13px;
    line-height: 32px;
}

.message-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
}

@keyframes show-message {
    from { transform: translateY(8px); opacity: 0.8; }
    to { transform: translateY(0); opacity: 1.0; }
}

.message {
    max-width: 50vw;
    margin-left: 12px;
    margin-bottom: 6px;
    padding: 8px 14px;
    background-color: #2b2b30;
    border-radius: 0 4px 4px 4px;
    color: #d0d0d0;
    font-size: 13px;
    font-weight: 500;
}

.message.animated {
    animation: show-message 0.2s;
}

.message.owned {
    background-color: #d8d8d8;
    color: #404044;
}

@keyframes show-message-date {
    from { transform: translateX(-8px); opacity: 0.8; }
    to { transform: translateX(0); opacity: 1.0; }
}

.message-date {
    margin-left: 12px;
    color: #707074;
    font-size: 13px;
    font-weight: 500;
    animation: show-message-date 0.1s;
}


.message-box {
    display: flex;
    padding: 14px;
    //border: 3px solid red;
}

input.message-input {
    display: flex;
    width: 100%;
    padding: 14px 18px;
    background-color: rgba(64, 64, 64, 0.33);
    border-radius: 10px;
    color: #d0d0d0;
}