.sidebar {
    width: 380px;
    height: 100%;
    padding: 30px;
    background-color: #15151a;
}

@media screen and (max-width: 1250px) {
    .sidebar,
    section.right {
        width: 100%;
    }
}

@media screen and (min-width: 1250px) {
    .sidebar-back-button {
        display: none;
    }
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.conversation-info-box {
    margin-left: 12px;
    display: flex;
    flex: 1;
    flex-direction: column;

    .conversation-name {
        margin-top: -4px;
        color: #cccccc;
        font-size: 14px;
        font-weight: 600;
    }

    .conversation-extra-info {
        margin-top: -2px;
        color: #585858;
        font-size: 13px;
        font-weight: 500;
        user-select: none;
    }
}

button.sidebar-settings-button {
    height: 24px;
    width: 24px;
    background-color: #585858;
    mask-image: url('../../assets/setting.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-color 0.1s;

    &:hover {
        background-color: #686868;
    }
}

.sidebar-section {
    margin-top: 40px;
}

.sidebar-section-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    height: 24px;
}

.sidebar-section-title {
    flex: 1;
    color: #585858;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
}

button.sidebar-add-button {
    height: 16px;
    width: 16px;
    background-color: transparent;
    background-image: url('../../assets/add.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sidebar-room-member {
    display: flex;
    align-items: center;

    + .sidebar-room-member {
        margin-top: 12px;
    }

    &.online .sidebar-room-member-status {
        background-color: #10c000;
    }

    &.brb .sidebar-room-member-status {
        background-color: #c0c030;
    }

    &.dnd .sidebar-room-member-status {
        background-color: #c03010;
    }
}

span.sidebar-room-member-username {
    flex: 1;
    margin-left: 12px;
    color: #cccccc;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-room-member-status {
    margin-right: 4px;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: #585858;
}

.sidebar-attachments {
    display: flex;
    flex-wrap: wrap;
}

.sidebar-attachment {
    &:nth-child(3n + 2) {
        margin-left: 10px;
    }

    &:nth-child(3n + 3) {
        margin-left: 10px;
    }
}

.sidebar-attachment-image {
    margin-bottom: 12px;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #383838;
    background-size: cover;
    cursor: pointer;
}

.sidebar-settings-menu {
    position: absolute;
    top: 30px;
    right: 24px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    background-color: #383838;
    border-radius: 10px;
    user-select: none;

    p {
        padding: 0 24px;
        display: flex;
        align-items: center;
        color: #cccccc;
        font-size: 13px;
        font-weight: 500;
        height: 30px;
        cursor: pointer;

        &:hover {
            background-color: #404040;
            color: #ffffff;
        }

        &.unsafe {
            color: #ee6243;
        }

        &.separator {
            margin: 10px 0;
            height: 1px;
            border-top: 1px solid #505050;
        }
    }
}

.sidebar-back-button {
    margin-right: 12px;
    height: 24px;
    width: 24px;
    background-color: #585858;
    mask-image: url('../../assets/back.svg');
    cursor: pointer;
}