.modal-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.8);
    z-index: 9999;
}

.modal-container {
    background-color: #2b2b30;
    border-radius: 10px;
    z-index: 10000;
}

.modal-header {
    margin: 16px 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.modal-header-title {
    flex: 1;
    color: #fafafa;
    font-size: 16px;
    font-weight: 500;
}

.modal-close-button {
    height: 32px;
    width: 32px;
    margin-right: -12px;
    background-color: transparent;
    background-image: url('../assets/close.svg');
    background-position: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.modal-content {
    margin: 0 24px;
}

.modal-input-box {
    display: flex;
    flex-direction: column;

    p {
        padding: 0;
        margin: 8px 0;
        color: #b0b0b0;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2px;
    }

    input {
        padding: 8px 12px;
        background-color: #3a3a40;
        border: 1px solid #5a5a5e;
        border-radius: 4px;
        color: #e0e0e0;
        width: 320px;
    }
}

.modal-file-dropzone {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 320px;
    background-color: #4a4a4e;
    border-radius: 4px;

    .modal-button {
        white-space: nowrap;
    }
}

.modal-file-name {
    margin-left: 12px;
    font-size: 13px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-file-input {
    display: none;
}

.modal-button {
    padding: 8px 12px;
    background-color: #404044;
    border-radius: 4px;
    color: #e0e0e0;
    cursor: pointer;

    &.primary {
        background-color: #10c000;
        color: #101010;
        font-weight: 500;
    }

    &[disabled] {
        background-color: #36363a;
        color: #606060;
        cursor: not-allowed;
    }
}

.modal-footer {
    margin: 0 -24px;
    margin-top: 32px;
    padding: 12px 24px;
    display: flex;
    justify-content: right;
    background-color: rgba(#ffffff, 0.025);

    .modal-button + .modal-button {
        margin-left: 12px;
    }
}