@keyframes show-tooltip {
    from {
        opacity: 0;
    }
}

.tooltip {
    position: fixed;
    padding: 4px 10px;
    background-color: #3a3a3a;
    border: 1px solid #44444c;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(#101014, 0.25);
    color: #e0e0e0;
    font-size: 13px;
    z-index: 9999;
    animation: show-tooltip 0.2s;
}